:root {
    --step--2: clamp(0.33rem, calc(0.84rem + -0.71vw), 0.69rem);
    --step--1: clamp(0.66rem, calc(0.90rem + -0.35vw), 0.83rem);
    --step-0: clamp(1.00rem, calc(0.88rem + 0.61vw), 1.31rem);
    --step-1: clamp(1.20rem, calc(0.64rem + 2.78vw), 2.63rem);
    --step-2: clamp(1.44rem, calc(-0.05rem + 7.43vw), 5.25rem);
    --step-3: clamp(1.73rem, calc(-1.70rem + 17.12vw), 10.50rem);
    --step-4: clamp(2.07rem, calc(-5.31rem + 36.93vw), 21.00rem);
    --step-5: clamp(2.49rem, calc(-12.93rem + 77.10vw), 42.00rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: var(--step-2);
    text-align: end;
    margin: auto;
    background-color: rgb(48, 48, 48);
}

.calculator {
    width: min(90%, 400px);
    margin-inline: auto;
    margin-top: 3em;
    background-color: rgb(50, 50, 50);
    border: 0.5px solid black;
    box-shadow: 0 0 1em black;
}

.button_section > button {
    cursor: pointer;
    font-size: var(--step-1);
    border: 0.5px solid black;
    padding: max(1vh, 1rem);
    color: white;
}

.output {
    border: 0.5px solid black;
    padding: 0 1rem 0 1rem;
}

.previous-operand {
    font-size: var(--step-1);
}

.button_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* this below is here to get rid of the gap between buttons */
    font-size: 0;
}

.key_all_clear,
.key_clear_entry {
    background-color: rgb(64, 64, 64);
}

.key_number,
.key_decimal {
    background-color: gray;
}

.key_operator,
.key_equal {
    background-color: orange;
}

.zero_span_two {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.clear_entry_span_two {
    grid-column: 2 / 4;
}

.key_decimal:hover,
.key_number:hover {
    background-color: rgb(160, 160, 160);
}

.key_clear_entry:hover,
.key_all_clear:hover {
    background-color: rgb(89, 89, 89);
}

.key_operator:hover,
.key_equal:hover {
    background-color: rgb(255, 185, 55);
}